body {
  //   background-color: red;
}

.card-title {
  h6 {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    font-size: 0.9rem;
    margin-top: 1rem;
    color: rgb(22, 22, 22);
  }

  p {
    font-size: 0.9rem;
    color: rgb(22, 22, 22);
  }
}

.card-item {
  cursor: pointer;
}

.underline {
  text-decoration: underline;
}

.voteAverage {
  color: rgb(22, 22, 22);
  font-size: 0.9rem;
  margin-top: 1rem;

  border: 3px solid black;
  display: inline-block;
  padding: 1rem;
  font-weight: bold;
}

a {
  color: rgb(22, 22, 22);
  text-decoration: none !important;
}

.bold {
  font-weight: bold;
}

.background-landscape {
  height: 100%;
  max-height: 236px;
  overflow: hidden;
  margin-bottom: 2rem;
  position: relative;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: auto;
  }
}

.image-actors {
  max-width: 125px;

  height: 100%;
}

.not-imageavaiable {
  max-width: 125px;

  height: 100%;
  background-color: beige;
}

.underline-p {
  font-weight: bold;
}

.card-item {
  cursor: pointer;
  border: 0 !important;
  border-radius: 0 !important;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.card-item:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  transition: all 0.3s ease-in-out;
}
